**/bin
**/obj
.git
.idea
.vs
.vscode
**/*.user
**/*.suo
.env
.env.*
**/*.pfx
**/*.p12
**/Properties/PublishProfiles
**/appsettings.Local.json
**/appsettings.*.Local.json
artifacts
TestResults
coverage
*.log
